[submodule "lib/p"]
	path = lib/p
	url = git@github.com:icicle-lang/p
[submodule "lib/disorder"]
	path = lib/disorder
	url = git@github.com:icicle-lang/disorder
[submodule "lib/x"]
	path = lib/x
	url = git@github.com:icicle-lang/x
